body {
            background-color: #eef2f5; /* muda a cor de fundo do body, ou seja toda a página*/ 
            font-family: Arial; /* muda toda a fonte q estiver no body*/ 
            margin: 0;
            padding: 20px; /* espaçamento para o conteúdo não grudar na janela*/ 
            text-align: center; /* centralizar o texto*/ 
        }

        .cartao {
            max-width: 700px; /* valor máximo de pixels dessa classe de 700*/ 
            background-color: white; /* muda o fundo dessa classe*/ 
            margin: 0 auto; /* centraliza a classe no meio*/
            padding: 20px; /* mesma coisa do body*/ 
            border: 1px solid #ccc; /* so mexe na borda*/ 
            border-radius: 15px;
            box-shadow: 2px 2px 3px
        }

        .minha-foto {
            width: 250px;
            height: 250px;
            border-radius: 15px;
            border: 2px solid white;
            display: block;
            margin: 0 auto 20px auto;
            object-fit: cover;
        }

        h1 {
            color: #0b3b4b;
        }

        h2 {
            color: #164455;
        }

        .texto {
            font-size: large;
            text-align: left;
        }

        .info {
            background-color: #f2fafd;
            padding: 15px;
            border: 1px solid #d4e6f0;
            margin: 20px 0; 
            text-align: left;
            border-radius: 15px;
            box-shadow: 2px 2px 3px
        }

        .rodape {
            color: #6b8a9c; /* cor do texto do footer*/  
        }